*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, serif;
}

body {
    background: linear-gradient(180deg, #003688 0%, rgba(13, 58, 125, 0.00) 100%) no-repeat;
    width: 100%;
    height: 100vh;
}

.img-logo {
    width: 80px;
    height: 80px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.navbar a {
    position: relative;
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a:not(:last-child):after {
    color: #75C5FF;
}

.navbar a:not(:last-child):hover {
    color: #75C5FF;
}

.navbar {
    margin-right: 50px;
}

.btn-main {
    background: #75C5FF;
    border-radius: 40px;
    padding: 7px 10px;
    opacity: .7;
    transition: all ease-in-out .3s;
}

.btn-main:hover {
    background: #75C5FF;
    opacity: 1;
    font-size: 2rem;
}

.text {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    margin-left: 20px;
    line-height: 37px;
}

.wrapper {
    display: flex;
}

.active {

}